# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Paris
# UNIX PUID and PGID, find with: id $USER
PUID=1000
PGID=1000
# Local network mask, find with: ip route | awk '!/ (docker0|br-)/ && /src/ {print $1}'
NETWORK=192.168.1.0/24
# Servername for outside redirection with traefik
SERVERNAME=test.com
# The directory where data will be stored.
ROOT=/path/to/network/share
# The directory where configuration will be stored.
CONFIG=/config
EMAIL=xxxxxxxxxx@xxxxxxxx.xxx
#NordVPN informations
VPN_USER=nordvpn-dashboard-service-credentials
VPN_PWD=nordvpn-dashboard-service-credentials
VPN_COUNTRY=FR
#MariaDB
MYSQL_PASSWORD=SqLpAsSwOrD
MYSQL_DATABASE=nextcloud
MYSQL_USER=username
#Nextcloud
NEXTCLOUD_ADMIN_USER=username
NEXTCLOUD_ADMIN_PASSWORD=NeXtClOuDpAsSwOrD
#Duplicati
DUPLICATI__WEBSERVICE_PASSWORD=DuPlIcAtIpAsSwOrD
